html, body {
    margin: 0;
    padding: 0;
    background: #111111;
    cursor: crosshair;
}

svg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

path, rect, circle {
    mix-blend-mode: screen;
    animation: fadeIn 150ms ease-in;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}